
.banner {
    width: 100%;
    height: 150px;
    
}


#screen-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
  
}

.screen-header__coulmn{
    width: 300px;
    height: 80px;
    background-color: #F0EBC8;
    border-radius: 20px;
   
    text-align: center;
   
    
}

.screen-header_login{
    display: flex;
}

.hidden{
    display: none;
}

#greeting{
    
    font-weight: bold;
    font-size: 20px;
   
}

#screen-header_clock{
    font-weight: bold;
    font-size: 50px;
}
#weather{
    font-weight: bold;
    font-size: 30px;
}
.screen-header_login_text{
    margin : 10px 20px 10px 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px ;
    border : solid #659F7C
}
.screen-header_login_text{
    
    margin: 10px auto auto auto;
}

.screen-header_login_btn{
    width: 45px;
    height: 45px;
    margin-top: 18px;
    margin-right: 10px;
    border-radius: 10px;
    border : solid #659F7C  
}
