
@import "reset.css";
@import "screen-header.css";
@import "main.css";
/* #main{
    display: flex;
    justify-content: space-between;
} */

#container{
    width: 100vw;
    background-color: #B1D5C2;
}



img {
    width: 90%;
    height: 90%;
    border-radius: 30px;
    
}