
#main{
    display: flex;
    border-top: 2px solid;
    background-color: rgba(0,0,0,0.3);
   
}


.main_column_toDoList{
    width: 900px;
    border-right: 2px solid;
    height: 600px;
    
}


.main_column_toDoList_contents{
    display: flex;
    box-sizing: border-box;
}

.toDoList_contents_text{
    margin : 10px 20px 10px 20px;
    width: 30vw;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px ;
    border : solid green
}

 


input[type="checkbox"]{
 
    
    transform: scale(1.5) translateY(15px);
    
    
}

.content_checkbox{
    padding-top:10px;
    
}

.toDoList_contents_btn{
    
    width: 45px;
    height: 45px;
    margin-right: 10px;
    margin-top: 18px;
    border-radius: 10px;
    border :  solid green
   
}

.contents_deleteBtn{
    width: 45px;
    height: 45px;
    margin-right: 10px;
    margin-top: 18px;
    margin-left: 10px;
    border-radius: 10px;
    border : solid green
}
.new_contents_text{
    
    margin : 10px 20px 10px 20px;
    width: 30vw;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px ;
    border : solid green
}

.ex{
    text-decoration: line-through;
}

.new_toDoList_contents{
    display: flex;
}