
#main{
    display: flex;
    border-top: 2px solid;
    background-color: rgba(0,0,0,0.3);
   
}


.main_column_toDoList{
    width: 60vw;
    border-right: 2px solid;
    height: 600px;
}



.main_column_toDoList_contents{

    display: flex;
    justify-content: space-between;
}

.toDoList_contents_text{
    margin : 10px 10px 10px 20px;
    width: 40vw;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px ;
    border : solid green
}

 


input[type="checkbox"]{
 
    
    transform: scale(1.5) translateX(525px) translateY(5px);
    
}

.toDoList_contents_btn{
    
    width: 45px;
    height: 45px;
    margin-right: 10px;
    margin-top: 18px;
    transform: translateX(-240px);
    
   

    
}

.list_name{
    margin : 10px 10px 10px 20px;
    width: 40vw;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px ;
    border : solid green;
    background-color : white;
}

